<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <app-cvlist (idSelected)="inputEvent($event)"></app-cvlist>
        </div>

        @if(cvData){

        <div class="col-4">
            <app-cvform class="m-3" (formChanged)="savedDataEvent($event)" [cvData]="cvData"></app-cvform>
        </div>
        }

        <div class="col-8">
            @if(cvSavedData){
            <app-cv-preview [personalData]="cvSavedData"></app-cv-preview>
            }@else{
            <app-cv-preview [personalData]="cvData"></app-cv-preview>
            }
        </div>

    </div>


</div>