<main class="main">
    <!-- NEW WAY IN ANGULAR 17 TO SHOW NGIFS -->
    @if (personalData == []){
    <div class="container-fluid">
        <div class="row">
            <div> NO DATA TO SHOW </div>
        </div>
    </div>
    }@else{
    <div class="container-fluid">

        <section name="personalData" class="d-flex p-3 align-items-center justify-content-center">

            <div class="headerPhoto">
                <img src="../assets/CVphoto.jpg" class="thumbnail">
            </div>

            <div class="headerDescription m-1 p-2">
                <div class="headername">
                    <h2>
                        {{personalData.name}} {{personalData.lastname}}
                    </h2>
                </div>
                <div class="headerjob">
                    <h3>
                        {{personalData.position}}
                    </h3>
                </div>
                <div class="headerlocation">
                    <h6>
                        <i class="bi bi-geo-fill"></i> Rosario, Argentina
                    </h6>
                </div>
            </div>
        </section>

        <section name="about" class="card p-3 mb-2">
            <div class="about-item">
                <i class="bi bi-person-circle"></i>
                <span>{{personalData.aboutDescription1}}</span>
            </div>
            <div class="about-item">
                <i class="bi bi-briefcase"></i>
                <span>{{personalData.aboutDescription2}}</span>
            </div>
            <div class="about-item">
                <i class="bi bi-award"></i>
                <span>{{personalData.aboutDescription3}}</span>
            </div>
            <div class="about-item">
                <i class="bi bi-journal-text"></i>
                <span>{{personalData.aboutDescription4}}</span>
            </div>
        </section>

        <section name="experience">

            <div class="card mb-3">
                <div class="card-header bg-transparent p-3">
                    <div class="d-flex flex-row flex-wrap justify-content-start align-items-center">
                        <div class="jobPhoto p-1">
                            <img [src]="personalData.job1.companyLogo" class="thumbnail">
                        </div>

                        <div class="jobData p-1">
                            <div class="expJobCompany">
                                <h4>
                                    {{personalData.job1.companyName}}
                                </h4>
                            </div>
                            <div class="expJobName ">
                                <h5>
                                    {{personalData.job1.jobTitle}}
                                </h5>
                            </div>

                        </div>

                        <div class="jobData p-1 ms-auto">
                            <div class="expJobDate">
                                <i class="bi bi-calendar3"></i> {{personalData.job1.worktime}}
                            </div>
                            <div class="expJobPlace">
                                <i class="bi bi-geo-alt"></i> {{personalData.job1.jobPlace}}
                            </div>
                            <span class="expJobType">
                                <i class="bi bi-person-workspace"></i> {{personalData.job1.jobType}}
                            </span> -
                            <span class="jobRange">
                                {{personalData.job1.jobRange}}
                            </span>
                        </div>

                    </div>
                </div>
                <div class="card-body">
                    <div class="card-text">{{personalData.job1.jobDescription1}}</div>
                    <div class="card-text">{{personalData.job1.jobDescription2}}</div>
                    <div class="card-text">{{personalData.job1.jobDescription3}}</div>
                    <div class="card-text">{{personalData.job1.jobDescription4}}</div>
                    <div class="card-text">{{personalData.job1.jobDescription5}}</div>
                </div>
                <div class="card-footer bg-transparent border-success">
                    <div class="expJobAptitude" class="d-flex flex-row justify-content-center flex-wrap">
                        <!-- NEW WAY IN ANGULAR 17 TO SHOW NGFORS -->
                        @for (aptitude of personalData.job1.workAptitudes; track personalData.job1.workAptitudes ){
                        <div class=" p-1 btn-group btn-group-sm">
                            <button type="button" class="btn btn-outline-primary">
                                {{ aptitude }}
                            </button>
                        </div>
                        } @empty {
                        <div class="p-1">
                            DEVELOPING APTITUDES
                        </div>
                        }
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header bg-transparent p-3">
                    <div class="d-flex flex-row flex-wrap justify-content-start align-items-center">
                        <div class="jobPhoto p-1">
                            <img [src]="personalData.job2.companyLogo" class="thumbnail">
                        </div>

                        <div class="jobData p-1">
                            <div class="expJobCompany">
                                <h4>
                                    {{personalData.job2.companyName}}
                                </h4>
                            </div>
                            <div class="expJobName ">
                                <h5>
                                    {{personalData.job2.jobTitle}}
                                </h5>
                            </div>

                        </div>

                        <div class="jobData p-1 ms-auto">
                            <div class="expJobDate">
                                <i class="bi bi-calendar3"></i> {{personalData.job2.worktime}}
                            </div>
                            <div class="expJobPlace">
                                <i class="bi bi-geo-alt"></i> {{personalData.job2.jobPlace}}
                            </div>
                            <span class="expJobType">
                                <i class="bi bi-person-workspace"></i> {{personalData.job2.jobType}}
                            </span> -
                            <span class="jobRange">
                                {{personalData.job2.jobRange}}
                            </span>
                        </div>



                    </div>
                </div>
                <div class="card-body">
                    <div class="card-text">{{personalData.job2.jobDescription1}}</div>
                    <div class="card-text">{{personalData.job2.jobDescription2}}</div>
                    <div class="card-text">{{personalData.job2.jobDescription3}}</div>
                    <div class="card-text">{{personalData.job2.jobDescription4}}</div>
                    <div class="card-text">{{personalData.job2.jobDescription5}}</div>
                </div>
                <div class="card-footer bg-transparent border-success">

                    <div class="expJobAptitude" class="d-flex flex-row justify-content-center flex-wrap">

                        @for (aptitude of personalData.job2.workAptitudes; track personalData.job2.workAptitudes ){
                        <div class=" p-1 btn-group btn-group-sm">
                            <button type="button" class="btn btn-outline-primary">
                                {{ aptitude }}
                            </button>
                        </div>
                        } @empty {
                        <div class="p-1">
                            DEVELOPING APTITUDES
                        </div>
                        }
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header bg-transparent p-3">
                    <div class="d-flex flex-row flex-wrap justify-content-start align-items-center">
                        <div class="jobPhoto p-1">
                            <img [src]="personalData.job3.companyLogo" class="thumbnail">
                        </div>

                        <div class="jobData p-1">
                            <div class="expJobCompany">
                                <h4>
                                    {{personalData.job3.companyName}}
                                </h4>
                            </div>
                            <div class="expJobName ">
                                <h5>
                                    {{personalData.job3.jobTitle}}
                                </h5>
                            </div>

                        </div>

                        <div class="jobData p-1 ms-auto">
                            <div class="expJobDate">
                                <i class="bi bi-calendar3"></i> {{personalData.job3.worktime}}
                            </div>
                            <div class="expJobPlace">
                                <i class="bi bi-geo-alt"></i> {{personalData.job3.jobPlace}}
                            </div>
                            <span class="expJobType">
                                <i class="bi bi-person-workspace"></i> {{personalData.job3.jobType}}
                            </span> -
                            <span class="jobRange">
                                {{personalData.job3.jobRange}}
                            </span>
                        </div>



                    </div>
                </div>
                <div class="card-body">
                    <div class="card-text">{{personalData.job3.jobDescription1}}</div>
                    <div class="card-text">{{personalData.job3.jobDescription2}}</div>
                    <div class="card-text">{{personalData.job3.jobDescription3}}</div>
                    <div class="card-text">{{personalData.job3.jobDescription4}}</div>
                    <div class="card-text">{{personalData.job3.jobDescription5}}</div>
                </div>
                <div class="card-footer bg-transparent border-success">

                    <div class="expJobAptitude" class="d-flex flex-row justify-content-center flex-wrap">
                        @for (aptitude of personalData.job3.workAptitudes; track personalData.job3.workAptitudes ){
                        <div class=" p-1 btn-group btn-group-sm">
                            <button type="button" class="btn btn-outline-primary">
                                {{ aptitude }}
                            </button>
                        </div>
                        } @empty {
                        <div class="p-1">
                            DEVELOPING APTITUDES
                        </div>
                        }
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header bg-transparent p-3">
                    <div class="d-flex flex-row flex-wrap justify-content-start align-items-center">
                        <div class="jobPhoto p-1">
                            <img [src]="personalData.job4.companyLogo" class="thumbnail">
                        </div>

                        <div class="jobData p-1">
                            <div class="expJobCompany">
                                <h4>
                                    {{personalData.job4.companyName}}
                                </h4>
                            </div>
                            <div class="expJobName ">
                                <h5>
                                    {{personalData.job4.jobTitle}}
                                </h5>
                            </div>

                        </div>

                        <div class="jobData p-1 ms-auto">
                            <div class="expJobDate">
                                <i class="bi bi-calendar3"></i> {{personalData.job4.worktime}}
                            </div>
                            <div class="expJobPlace">
                                <i class="bi bi-geo-alt"></i> {{personalData.job4.jobPlace}}
                            </div>
                            <span class="expJobType">
                                <i class="bi bi-person-workspace"></i> {{personalData.job4.jobType}}
                            </span> -
                            <span class="jobRange">
                                {{personalData.job4.jobRange}}
                            </span>
                        </div>



                    </div>
                </div>
                <div class="card-body">
                    <div class="card-text">{{personalData.job4.jobDescription1}}</div>
                    <div class="card-text">{{personalData.job4.jobDescription2}}</div>
                    <div class="card-text">{{personalData.job4.jobDescription3}}</div>
                    <div class="card-text">{{personalData.job4.jobDescription4}}</div>
                    <div class="card-text">{{personalData.job4.jobDescription5}}</div>
                </div>
                <div class="card-footer bg-transparent border-success">

                    <div class="expJobAptitude" class="d-flex flex-row justify-content-center flex-wrap">
                        @for (aptitude of personalData.job4.workAptitudes; track personalData.job4.workAptitudes ){
                            <div class=" p-1 btn-group btn-group-sm">
                                <button type="button" class="btn btn-outline-primary">
                                    {{ aptitude }}
                                </button>
                            </div>
                            } @empty {
                            <div class="p-1">
                                DEVELOPING APTITUDES
                            </div>
                            }
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header bg-transparent p-3">
                    <div class="d-flex flex-row flex-wrap justify-content-start align-items-center">
                        <div class="jobPhoto p-1">
                            <img [src]="personalData.job5.companyLogo" class="thumbnail">
                        </div>

                        <div class="jobData p-1">
                            <div class="expJobCompany">
                                <h4>
                                    {{personalData.job5.companyName}}
                                </h4>
                            </div>
                            <div class="expJobName ">
                                <h5>
                                    {{personalData.job5.jobTitle}}
                                </h5>
                            </div>

                        </div>

                        <div class="jobData p-1 ms-auto">
                            <div class="expJobDate">
                                <i class="bi bi-calendar3"></i> {{personalData.job5.worktime}}
                            </div>
                            <div class="expJobPlace">
                                <i class="bi bi-geo-alt"></i> {{personalData.job5.jobPlace}}
                            </div>
                            <span class="expJobType">
                                <i class="bi bi-person-workspace"></i> {{personalData.job5.jobType}}
                            </span> -
                            <span class="jobRange">
                                {{personalData.job5.jobRange}}
                            </span>
                        </div>



                    </div>
                </div>
                <div class="card-body">
                    <div class="card-text">{{personalData.job5.jobDescription1}}</div>
                    <div class="card-text">{{personalData.job5.jobDescription2}}</div>
                    <div class="card-text">{{personalData.job5.jobDescription3}}</div>
                    <div class="card-text">{{personalData.job5.jobDescription4}}</div>
                    <div class="card-text">{{personalData.job5.jobDescription5}}</div>
                </div>
                <div class="card-footer bg-transparent border-success">

                    <div class="expJobAptitude" class="d-flex flex-row justify-content-center flex-wrap">
                        @for (aptitude of personalData.job4.workAptitudes; track personalData.job4.workAptitudes ){
                            <div class=" p-1 btn-group btn-group-sm">
                                <button type="button" class="btn btn-outline-primary">
                                    {{ aptitude }}
                                </button>
                            </div>
                            } @empty {
                            <div class="p-1">
                                DEVELOPING APTITUDES
                            </div>
                            }
                    </div>
                </div>
            </div>
        </section>

        <section name="studies">

            <div class="card mb-3">
                <div class="card-header bg-transparent p-3">
                    <div class="d-flex flex-row flex-wrap justify-content-start align-items-center">
                        <div class="studyPhoto p-1">
                            <img [src]="personalData.study1.studyLogo" class="thumbnail">
                        </div>
                        <div class="studyData p-1">
                            <div class="expstudyCompany">
                                <h4>
                                    {{personalData.study1.studyName}}
                                </h4>
                            </div>
                            <div class="expstudyName">
                                <h5>
                                    {{personalData.study1.studyTitle}}
                                </h5>
                            </div>
                        </div>
                        <div class="studyData p-1 ms-auto">
                            <div class="expstudyDate">
                                <i class="bi bi-calendar3"></i> {{personalData.study1.studyTime}}
                            </div>
                            <div class="expstudyPlace">
                                <i class="bi bi-geo-alt"></i> {{personalData.study1.studyPlace}}
                            </div>
                            <span class="expstudyType">
                                <i class="bi bi-person-workspace"></i> {{personalData.study1.studyType}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-text">{{personalData.study1.studyDescription1}}</div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header bg-transparent p-3">
                    <div class="d-flex flex-row flex-wrap justify-content-start align-items-center">
                        <div class="studyPhoto p-1">
                            <img [src]="personalData.study2.studyLogo" class="thumbnail">
                        </div>
                        <div class="studyData p-1">
                            <div class="expstudyCompany">
                                <h4>
                                    {{personalData.study2.studyName}}
                                </h4>
                            </div>
                            <div class="expstudyName">
                                <h5>
                                    {{personalData.study2.studyTitle}}
                                </h5>
                            </div>
                        </div>
                        <div class="studyData p-1 ms-auto">
                            <div class="expstudyDate">
                                <i class="bi bi-calendar3"></i> {{personalData.study2.studyTime}}
                            </div>
                            <div class="expstudyPlace">
                                <i class="bi bi-geo-alt"></i> {{personalData.study2.studyPlace}}
                            </div>
                            <span class="expstudyType">
                                <i class="bi bi-person-workspace"></i> {{personalData.study2.studyType}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-text">{{personalData.study2.studyDescription1}}</div>
                </div>
            </div>

        </section>

        <section name="languagues">

            <div class="card mb-3">
                <div class="card-body bg-transparent p-3">
                    <div class="d-flex flex-row flex-wrap justify-content-start align-items-center">
                        <div class="langData p-1">
                            <div class="explangCompany">
                                <h4>
                                    <i class="bi bi-flag"></i>
                                    {{personalData.lang1.langName}}
                                </h4>
                            </div>
                            <div class="explangName">
                                <h5>
                                    {{personalData.lang1.proficiency}}
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card mb-3">
                <div class="card-body bg-transparent p-3">
                    <div class="d-flex flex-row flex-wrap justify-content-start align-items-center">
                        <div class="langData p-1">
                            <div class="explangCompany">
                                <h4>
                                    <i class="bi bi-flag"></i>
                                    {{personalData.lang2.langName}}
                                </h4>
                            </div>
                            <div class="explangName">
                                <h5>
                                    {{personalData.lang2.proficiency}}
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card mb-3">
                <div class="card-body bg-transparent p-3">
                    <div class="d-flex flex-row flex-wrap justify-content-start align-items-center">
                        <div class="langData p-1">
                            <div class="explangCompany">
                                <h4>
                                    <i class="bi bi-flag"></i>
                                    {{personalData.lang3.langName}}
                                </h4>
                            </div>
                            <div class="explangName">
                                <h5>
                                    {{personalData.lang3.proficiency}}
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section name="courses">

            <div class="card mb-3">
                <div class="card-header bg-transparent p-3">
                    <div class="d-flex flex-row flex-wrap justify-content-start align-items-center">
                        <div class="coursePhoto p-1">
                            <img [src]="personalData.course1.courseLogo" class="thumbnail">
                        </div>
                        <div class="courseData p-1">
                            <div class="expcourseCompany">
                                <h4>
                                    {{personalData.course1.courseName}}
                                </h4>
                            </div>
                            <div class="expcourseName">
                                <h5>
                                    {{personalData.course1.courseTitle}}
                                </h5>
                            </div>
                        </div>
                        <div class="courseData p-1 ms-auto">
                            <div class="expcourseDate">
                                <i class="bi bi-calendar3"></i> {{personalData.course1.courseTime}}
                            </div>
                            <span class="expcourseType">
                                <i class="bi bi-person-workspace"></i> {{personalData.course1.courseType}}
                            </span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="card mb-3">
                <div class="card-header bg-transparent p-3">
                    <div class="d-flex flex-row flex-wrap justify-content-start align-items-center">
                        <div class="coursePhoto p-1">
                            <img [src]="personalData.course2.courseLogo" class="thumbnail">
                        </div>
                        <div class="courseData p-1">
                            <div class="expcourseCompany">
                                <h4>
                                    {{personalData.course2.courseName}}
                                </h4>
                            </div>
                            <div class="expcourseName">
                                <h5>
                                    {{personalData.course2.courseTitle}}
                                </h5>
                            </div>
                        </div>
                        <div class="courseData p-1 ms-auto">
                            <div class="expcourseDate">
                                <i class="bi bi-calendar3"></i> {{personalData.course2.courseTime}}
                            </div>
                            <span class="expcourseType">
                                <i class="bi bi-person-workspace"></i> {{personalData.course2.courseType}}
                            </span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="card mb-3">
                <div class="card-header bg-transparent p-3">
                    <div class="d-flex flex-row flex-wrap justify-content-start align-items-center">
                        <div class="coursePhoto p-1">
                            <img [src]="personalData.course3.courseLogo" class="thumbnail">
                        </div>
                        <div class="courseData p-1">
                            <div class="expcourseCompany">
                                <h4>
                                    {{personalData.course3.courseName}}
                                </h4>
                            </div>
                            <div class="expcourseName">
                                <h5>
                                    {{personalData.course3.courseTitle}}
                                </h5>
                            </div>
                        </div>
                        <div class="courseData p-1 ms-auto">
                            <div class="expcourseDate">
                                <i class="bi bi-calendar3"></i> {{personalData.course3.courseTime}}
                            </div>
                            <span class="expcourseType">
                                <i class="bi bi-person-workspace"></i> {{personalData.course3.courseType}}
                            </span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card mb-3">
                <div class="card-header bg-transparent p-3">
                    <div class="d-flex flex-row flex-wrap justify-content-start align-items-center">
                        <div class="coursePhoto p-1">
                            <img [src]="personalData.course4.courseLogo" class="thumbnail">
                        </div>
                        <div class="courseData p-1">
                            <div class="expcourseCompany">
                                <h4>
                                    {{personalData.course4.courseName}}
                                </h4>
                            </div>
                            <div class="expcourseName">
                                <h5>
                                    {{personalData.course4.courseTitle}}
                                </h5>
                            </div>
                        </div>
                        <div class="courseData p-1 ms-auto">
                            <div class="expcourseDate">
                                <i class="bi bi-calendar3"></i> {{personalData.course4.courseTime}}
                            </div>
                            <span class="expcourseType">
                                <i class="bi bi-person-workspace"></i> {{personalData.course4.courseType}}
                            </span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card mb-3">
                <div class="card-header bg-transparent p-3">
                    <div class="d-flex flex-row flex-wrap justify-content-start align-items-center">
                        <div class="coursePhoto p-1">
                            <img [src]="personalData.course5.courseLogo" class="thumbnail">
                        </div>
                        <div class="courseData p-1">
                            <div class="expcourseCompany">
                                <h4>
                                    {{personalData.course5.courseName}}
                                </h4>
                            </div>
                            <div class="expcourseName">
                                <h5>
                                    {{personalData.course5.courseTitle}}
                                </h5>
                            </div>
                        </div>
                        <div class="courseData p-1 ms-auto">
                            <div class="expcourseDate">
                                <i class="bi bi-calendar3"></i> {{personalData.course5.courseTime}}
                            </div>
                            <span class="expcourseType">
                                <i class="bi bi-person-workspace"></i> {{personalData.course5.courseType}}
                            </span>
                        </div>
                    </div>
                </div>

            </div>

        </section>

    </div>
    }
</main>