.register-container {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente los elementos */
    align-items: center;
    /* Centra verticalmente los elementos */
}

.register-title {
    padding-bottom: 1rem;
}

.left-side,
.right-side {
    flex: 1;
    /* Cada sección ocupa el mismo espacio */
}

.left-side {
    padding: 20px;
    /* Añade espacio interno para separación */
}

.right-side {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente el contenido */
}

.register-form {
    width: 100%;
    /* Ajusta el formulario al 100% del contenedor */
    // max-width: 400px;
    /* Ajusta el ancho máximo del formulario */
}

.register-illustration {
    max-width: 100%;
    /* Asegura que la imagen se ajuste al tamaño máximo disponible */
}