<main class="main">
    <!-- NEW WAY IN ANGULAR 17 TO SHOW NGIFS -->
    @if (!cvList){
    <div class="container-fluid">
        <div class="row">
            <div> SERVER OFFLINE </div>
        </div>
    </div>
    }@else{

    <div class="container-fluid" id="contentToConvert">

        <div class="card">
            <div class="tools">
                <div class="circle">
                    <span class="red box"></span>
                </div>
                <div class="circle">
                    <span class="yellow box"></span>
                </div>
                <div class="circle">
                    <span class="green box"></span>
                </div>
            </div>
            <div class="card__content text-white text-center">


                <div *ngFor="let cvIds of cvList.cvIds; let i = index">
                    <button class="btn btnColor" (click)="openEditor(cvList.cvIds[i])">
                        {{cvIds}}
                    </button>
                    <!-- <input formControl="formName" /> -->
                </div>

                <button class="btn btnColor" (click)="createNewCV()">
                    +
                </button>

            </div>
        </div>
    </div>
    }
</main>