@if (!cvList){
<div class="container-fluid">
    <div class="row">
        <h1> SERVER OFFLINE </h1>
    </div>
</div>
}@else{
<div class="card">
    <div class="tools">
        <div class="circle">
            <span class="red box"></span>
        </div>
        <div class="circle">
            <span class="yellow box"></span>
        </div>
        <div class="circle">
            <span class="green box"></span>
        </div>
    </div>
    <div class="card__content text-white text-center">
        <form [formGroup]="nameForm">
            <!-- User First Name -->
            <div class="input-group mt-3 mb-3">
                <span id="cvNameLabel" class="input-group-text">CV Name</span>
                <input id="cvName" type="text" class="form-control" formControlName="cvName">
                <button type="submit" class="btn btnColor" [disabled]="!nameForm.valid || cvList.cvIds.length > 3 "
                    (click)="createNewCV()">
                    +
                </button>
            </div>
        </form>

        <div *ngFor="let cvIds of cvList.cvIds; let i = index">
            <button class="btn btnColor" (click)="openEditor(cvList.cvIds[i])">
                {{cvIds}}
            </button>
            <button type="button" (click)="removeCV(cvList.cvIds[i])" class="btn btn-danger btn-sm">Remove</button>
        </div>
    </div>
</div>
}