@if ( personalData ){

<section name="personalData" class="preview-section">
    <div class="card-template">
        <h1>{{personalData.userFirstName}} {{personalData.userLastName}}</h1>
        <h2>{{personalData.userHeading}}</h2>
        <h6>{{personalData.userAddress}}</h6>
        <h6>{{personalData.userEmail}} - {{personalData.userAddress}} - {{personalData.userPhoneNumber}}</h6>
    </div>
</section>

<section name="work" class="preview-section">
    @for (work of personalData.work; track personalData.work ){
    <app-work-card [work]="work"></app-work-card>
    }
</section>

<section name="education" class="preview-section">
    @for (education of personalData.education; track education ){
    <app-education-card [education]="education"></app-education-card>
    }
</section>

<section name="certifications" class="preview-section">
    @for (certification of personalData.certifications; track certification ){
    <app-certification-card [certification]="certification"></app-certification-card>
    }
</section>

}