.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 100vh; /* O ajusta la altura según el diseño deseado */
}

.spinner-border {
  width: 4rem;
  height: 4rem;
  /* Puedes ajustar otros estilos según tu diseño */
}

.background {
  background-color: #0d6efd;
}