.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* O ajusta la altura según el diseño deseado */
  }
  
  .spinner-border {
    width: 3rem;
    height: 3rem;
    /* Puedes ajustar otros estilos según tu diseño */
  }
  