.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom-left-radius: 12px; // Radio del borde inferior izquierdo
    border-bottom-right-radius: 12px; // Radio del borde inferior derecho
}

.menuItemsWrapper {
    display: flex;
    flex-direction: row;
}