@if(!isAuthenticated()){
<nav class="navbar bg-body-secondary">

    <div class="mainMenu">
        <button type="button" class="btn btn-outline-success me-2" (click)="goHome()">
            HOME
        </button>
        <button type="button" class="btn btn-sm btn-outline-secondary m-1" (click)="goLogin()">
            LOGIN
        </button>
        <button type="button" class="btn btn-sm btn-outline-secondary m-1" (click)="goRegister()">
            REGISTER
        </button>
        <button type="button" class="btn btn-sm btn-outline-secondary m-1" (click)="goLogout()">
            LOGOUT
        </button>
        <button type="button" class="btn btn-sm btn-outline-secondary m-1" (click)="goLayout()">
            CV
        </button>
    </div>

    <div class="themeToggler">
        <app-toggler></app-toggler>
    </div>

</nav>
}