<nav class="navbar">

    <div class="mainMenu">
        @if(isAuthenticated){
        <button type="button" class="btn btn-sm btn-outline-secondary m-1" (click)="goLogout()">
            LOGOUT
        </button>
        <button type="button" class="btn btn-sm btn-outline-secondary m-1" (click)="goLayout()">
            CV
        </button>
        } @else {
        <button type="button" class="btn btn-outline-success me-2" (click)="goHome()">
            HOME
        </button>
        <div class="tooltip-wrapper">
            <button type="button" tooltip="Login or Register" placement="bottom" delay="500"
                class="btn btn-sm btn-outline-secondary m-1" (click)="goLogin()">
                LOGIN
            </button>
        </div>
        <!-- <button type="button" class="btn btn-sm btn-outline-secondary m-1" (click)="goRegister()">
            REGISTER
        </button> -->
        }
    </div>

    <app-toggler></app-toggler>

</nav>