<div class="list-group">

</div>

<nav class="navbar bg-body-tertiary">
    <form class="container-fluid justify-content-start">

        <button class="btn btn-outline-success me-2" (click)="goHome()" type="button">HOME</button>

        @for (aptitude of categories; track categories ){
        <button type="button" class="btn btn-sm btn-outline-secondary m-1">
            {{ aptitude }}
        </button>
        } @empty {
        <div class="p-1">
            CATEGORY HERE
        </div>
        }
    </form>
</nav>