<form [formGroup]="personForm" (ngSubmit)="saveChanges()">
    <!-- User First Name -->
    <div class="input-group mt-3 mb-3">
        <span id="nameLabel" class="input-group-text">First Name</span>
        <input id="userFirstName" type="text" class="form-control" formControlName="userFirstName" [ngClass]="{
            'is-valid': userFirstName?.valid && (userFirstName?.dirty || userFirstName?.touched),
            'is-invalid': userFirstName?.invalid && (userFirstName?.dirty || userFirstName?.touched)
        }">
        <div *ngIf="personForm.invalid && (userFirstName?.dirty || userFirstName?.touched)" class="invalid-feedback">
            Please choose a first name.
        </div>
    </div>

    <!-- User Last Name -->
    <div class="input-group mt-3 mb-3">
        <span id="lastNameLabel" class="input-group-text">Last Name</span>
        <input id="userLastName" type="text" class="form-control" formControlName="userLastName">
    </div>

    <!-- User Heading -->
    <div class="input-group mt-3 mb-3">
        <span id="headingLabel" class="input-group-text">Heading</span>
        <input id="userHeading" type="text" class="form-control" formControlName="userHeading">
    </div>

    <!-- User Email -->
    <div class="input-group mt-3 mb-3">
        <span id="emailLabel" class="input-group-text">Email</span>
        <input id="userEmail" type="email" class="form-control" formControlName="userEmail">
    </div>

    <!-- User Address -->
    <div class="input-group mt-3 mb-3">
        <span id="addressLabel" class="input-group-text">Address</span>
        <input id="userAddress" type="text" class="form-control" formControlName="userAddress">
    </div>

    <!-- User Phone Number -->
    <div class="input-group mt-3 mb-3">
        <span id="phoneNumberLabel" class="input-group-text">Phone Number</span>
        <input id="userPhoneNumber" type="text" class="form-control" formControlName="userPhoneNumber">
    </div>

    <!-- Save Button -->
    <div class="d-grid gap-2">
        <button class="btn btn-primary mt-2" type="submit">Save</button>
    </div>
</form>

<div class="msg">{{savedSuccess}}</div>