<main class="main">
  <div class="container-fluid">

    <section class="sectionheader d-flex border m-1 p-1 ">

      <div class="headerImage img-fluid">
        <!-- <img src="../assets/CVphoto.jpg"> -->
      </div>

      <div class="headerDescription ">
        <div class="headername">
          <h2>
            Federico Martin Molinero
          </h2>
        </div>
        <div class="headerjob">
          <h3>
            Fullstack Developer
          </h3>
        </div>
        <div class="headerlocation">
          <h6>
            Rosario, Argentina
          </h6>
        </div>
      </div>
    </section>


    <section class="sectionaboutme border m-1 p-1">
      <div class="aboutshortdescription">
        Experienced tech professional proficient in full-stack web development, application support, and user management
        platforms.
        Skilled in front end development building responsive, interactive designs adhering to web accessibility
        guidelines.
        Proven ability to lead teams and deploy applications on cloud platforms like Azure and AWS.
        Passionate about leveraging technology to drive innovation and enhance user experiences.
      </div>
    </section>



    <section class="sectionexperience border m-1 p-1">

      <div class="expJobImage">
        image here
      </div>

      <div class="expJobName">
        Globant
      </div>

      <div class="expJobDate">
        jun. 2019 - sept. 2023 · 4 años 4 meses
      </div>

      <div class="expJobPlace">
        Rosario, Santa Fe, Argentina
      </div>

      <div class="expJobType">
        Híbrido
      </div>

      <div class="experiencedescription">
        Full-stack web development, application support, and user management platforms.

        UI design and development following custom models, with a focus on building responsive, interactive designs
        adhering to web accessibility guidelines.
        Implementing and maintaining scalable and performant Angular-based frontends, utilizing web technologies and
        agile methodologies with distributed teams globally.

        APIs interacting, conducting research for new development solutions, and contributing to collaborative software
        development.
        Providing support in application development and bug-fixing.

        At Globant, I had the privilege of serving esteemed global enterprises, including leading firms such as EY and
        PwC. I crafted innovative, bespoke solutions tailored to meet their unique needs, contributing to their business
        success in a dynamic and competitive landscape
      </div>

      <div class="expJobAptitude">
        NPM,
        Metodologías Agile
        Waterfall,
        Hojas de estilos en cascada (CSS)
        html5
        typescript
        Diseño web
        Computacion en la nube
        GIT
        Angular
        Javascript
        GitHub
        Base de datos
        Microsft Azure
        Azure Devops
      </div>

    </section>


  </div>
</main>


<router-outlet />