<main class="main">
  <div class="content">

    <section class="headercontent">
      <div class="nameheader">
        Federico Martin Molinero
      </div>
      <div class="jobheader">
        Fullstack Developer
      </div>
      <div class="headerlocation">
        Rosario, Argentina
      </div>
    </section>


    <section class="aboutme">
      <div class="aboutshortdescription">
        Experienced tech professional proficient in full-stack web development, application support, and user management
        platforms.
        Skilled in front end development building responsive, interactive designs adhering to web accessibility
        guidelines.
        Proven ability to lead teams and deploy applications on cloud platforms like Azure and AWS.
        Passionate about leveraging technology to drive innovation and enhance user experiences.
      </div>
    </section>

  </div>
</main>


<router-outlet />