@import 'bootstrap/scss/bootstrap';

@font-face {
    font-family: 'Ubuntu';
    src: url('assets/fonts/Ubuntu-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dosis';
    src: url('assets/fonts/Dosis-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 100%;
    width: 100%;
}

.dosis-font {
    font-family: 'Dosis', sans-serif;
}

// THEMING: DARK OR LIGHT MODE
$clear-bg: #ffffff;
$dark-bg: #000000;

.clear {
    background-color: $clear-bg;
    color: black;
    transition: background-color 0.3s;
}

.dark {
    background-color: $dark-bg;
    color: white;
    transition: background-color 0.3s;
}

.padded {
    padding: 5rem;
}