@import 'bootstrap/scss/bootstrap';

@import "bootstrap-icons/font/bootstrap-icons.min.css";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital@0;1&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Importing Bootstrap SCSS file. */
// @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    //   font-family: 'Open Sans', sans-serif; // Use Open Sans font, fallback to sans-serif
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: black
}