@import 'bootstrap/scss/bootstrap';

@font-face {
    font-family: 'Ubuntu';
    src: url('assets/fonts/Ubuntu-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dosis';
    src: url('assets/fonts/Dosis-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 100%;
    width: 100%;
}

.dosis-font {
    font-family: 'Dosis', sans-serif;
}

.container-bubble {
    position: absolute;
}

// THEMING: DARK OR LIGHT MODE
$clear-bg: #e9ecef;
$dark-bg: #0d1b2a;

.clear {
    background-color: $clear-bg;
    color: black;
    transition: background-color 0.3s;
}

.dark {
    background-color: $dark-bg;
    color: white;
    transition: background-color 0.3s;
}


.component-flex-container {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente los elementos */
    align-items: center;
    /* Centra verticalmente los elementos */
}

.left-side,
.right-side {
    flex: 1;
    /* Cada sección ocupa el mismo espacio */
}

.left-side {
    padding: 20px;
    /* Añade espacio interno para separación */
}

.right-side {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente el contenido */
}


.ptvh-5 {
    padding-top: 5vh;
}

.pbvh-5 {
    padding-bottom: 5vh;
}


// Tooltip
.tooltip-wrapper [tooltip] {
    display: inline-block;
}

.customTooltip {
    position: absolute;
    max-width: 150px;
    font-size: 14px;
    text-align: center;
    color: #f8f8f2;
    padding: 3px 8px;
    background: #282a36;
    border-radius: 4px;
    z-index: 1000;
    opacity: 0;
}

.customTooltip:after {
    content: "";
    position: absolute;
    border-style: solid;
}

.customTooltip-top:after {
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-color: black transparent transparent transparent;
}

.customTooltip-bottom:after {
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-color: transparent transparent black transparent;
}

.customTooltip-left:after {
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-color: transparent transparent transparent black;
}

.customTooltip-right:after {
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-color: transparent black transparent transparent;
}

.customTooltip-show {
    opacity: 1;
}

//FORMS
.input-group-text {
    font-size: 1em;
}





// HOVERBUTTON
.bracketbutton {
    width: 10em;
    position: relative;
    height: 3.5em;
    border: 3px ridge #149CEA;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.bracketbutton::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: $clear-bg;
    transition: 0.5s;
    transform-origin: center;
}

.bracketbutton::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: $clear-bg;
    transition: 0.5s;
}

.bracketbutton:hover::before,
.bracketbutton:hover::after {
    transform: scale(0)
}

.bracketbutton:hover {
    box-shadow: inset 0px 0px 25px #1479EA;
}





.card {
    width: 190px;
    height: 254px;
    margin: 0 auto;
    background: linear-gradient(0deg, #000, #272727);
    border-radius: 8px;
    z-index: 1;
}

.tools {
    display: flex;
    align-items: center;
    padding: 9px;
}

.circle {
    padding: 0 4px;
}

.box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
}

.red {
    background-color: #ff605c;
}

.yellow {
    background-color: #ffbd44;
}

.green {
    background-color: #00ca4e;
}



.btnColor {
    padding: 1.1em 2em;
    background: none;
    border: 2px solid #fff;
    font-size: 15px;
    color: #131313;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 12px;
    background-color: #ecd448;
    font-weight: bolder;
    box-shadow: 0 2px 0 2px #000;
}

.btnColor:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 120%;
    background-color: #ff6700;
    top: 50%;
    transform: skewX(30deg) translate(-150%, -50%);
    transition: all 0.5s;
}

.btnColor:hover {
    background-color: #4cc9f0;
    color: #fff;
    box-shadow: 0 2px 0 2px #0d3b66;
}

.btnColor:hover::before {
    transform: skewX(30deg) translate(150%, -50%);
    transition-delay: 0.1s;
}

.btnColor:active {
    transform: scale(0.9);
}

.invalid-feedback {
    margin-top: 1rem;
}

// .is-valid{
//     border: 4px solid green !important;
// }

.is-invalid{
    border: 4px solid red !important;
}
