  pre {
    white-space: pre-wrap;
    /* Allows text adjustment and preserve line breaks */
    word-wrap: break-word;
    /* Adjust long words at the end of the line */
    margin: 0;
    padding: 0;
  }