<form [formGroup]="personForm" (ngSubmit)="saveChanges()">

    <div class="input-group mt-3 mb-3">
        <span id="nameLabel" class="input-group-text">Name</span>
        <input id="name" type="text" class="form-control" formControlName="name" [ngClass]="{
            'is-valid': name!.valid && (name!.dirty || name!.touched),
            'is-invalid': name!.invalid && (name!.dirty || name!.touched)
          }">
        @if(personForm.invalid && (name!.dirty || name!.touched)) {
        <div id="validationNameFeedback" class="invalid-feedback">
            Please choose a username.
        </div>
        }
    </div>

    <div class="input-group mb-3">
        <span id="secondNameLabel" class="input-group-text">Second Name</span>
        <input id="secondName" type="text" class="form-control" formControlName="secondName">
    </div>

    <div class="input-group mb-3">
        <span id="lastNameLabel" class="input-group-text">Last Name</span>
        <input id="lastName" class="form-control" formControlName="lastName" [ngClass]="{
            'is-valid': lastName!.valid && (lastName!.dirty || lastName!.touched),
            'is-invalid': lastName!.invalid && (lastName!.dirty || lastName!.touched)
          }">
        @if(personForm.invalid && (lastName!.dirty || lastName!.touched)) {
        <div id="validationLastNameFeedback" class="invalid-feedback">
            Please choose a last name.
        </div>
        }
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="cityLabel">City</span>
        <input id="city" class="form-control" formControlName="city" [ngClass]="{
            'is-valid': city!.valid && (city!.dirty || city!.touched),
            'is-invalid': city!.invalid && (city!.dirty || city!.touched)
          }">
        @if(personForm.invalid && (city!.dirty || city!.touched)) {
        <div id="validationCityFeedback" class="invalid-feedback">
            Please choose a city.
        </div>
        }
    </div>

    <div class="input-group mb-3">
        <span id="positionLabel" class="input-group-text">Position</span>
        <input id="position" class="form-control" formControlName="position" [ngClass]="{
            'is-valid': position!.valid && (position!.dirty || position!.touched),
            'is-invalid': position!.invalid && (position!.dirty || position!.touched)
          }">
        @if(personForm.invalid && (position!.dirty || position!.touched)) {
        <div id="validationPositionFeedback" class="invalid-feedback">
            Please choose a position.
        </div>
        }
    </div>

    <div formArrayName="aboutDescriptions">
        <button class="btn btn-secondary" type="button" (click)="addAboutDescription()">Add Description</button>

        @for (about of aboutDescriptions.controls; track about){
        <div class="input-group mb-3">
            <span id="about-{{$index}}" class="input-group-text">About</span>
            <input id="input-{{$index}}" class="form-control" type="text" [formControlName]="$index">

            <button class="btn btn-secondary" type="button" [disabled]="$index === 0"
                (click)="removeAboutDescription($index)">
                <i class="bi bi-trash"></i>
            </button>
        </div>
        } @empty {
        <div>ABOUT</div>
        }
    </div>

    <div class="d-grid gap-2">
        <button class="btn btn-primary mt-2 mt-2" type="submit">Save</button>
    </div>

</form>

<div class="msg">{{savedSuccess}}</div>