<div class="container-fluid">

  <h1>LOGIN</h1>

  <form [formGroup]="loginForm" (ngSubmit)="login()">

    <div class="input-group mt-5 mb-3">
      <label for="username" class="input-group-text">Username</label>
      <input id="username" type="text" class="form-control form-control-lg" formControlName="username" [ngClass]="{
          'is-valid': username?.valid && (username?.dirty || username?.touched),
          'is-invalid': username?.invalid && (username?.dirty || username?.touched)
             }" aria-labelledby="usernameLabel" aria-describedby="validationUsernameFeedback" required
        (blur)="username?.markAsTouched()">

      @if(username?.errors?.['required'] && username?.touched){
      <div id="validationUsernameFeedback" class="invalid-feedback" role="alert">
        Username is required.
      </div>
      }@else if(username?.errors?.['minlength'] && username?.touched){
      <div id="validationUsernameFeedback" class="invalid-feedback" role="alert">
        Username must be at least 4 characters long.
      </div>
      }@else if(username?.errors?.['maxlength'] && username?.touched){
      <div id="validationUsernameFeedback" class="invalid-feedback" role="alert">
        Username must have less than 20 characters long.
      </div>
      }

    </div>

    <div class="input-group mt-5 mb-3">
      <label for="password" class="input-group-text">Password</label>

      <input id="password" type="password" class="form-control form-control-lg" formControlName="password" [ngClass]="{
          'is-valid': password?.valid && (password?.dirty || password?.touched),
          'is-invalid': password?.invalid && (password?.dirty || password?.touched)
             }" aria-labelledby="passwordLabel" aria-describedby="validationPasswordFeedback" required
        (blur)="password?.markAsTouched()">

      @if(password?.errors?.['required'] && password?.touched){
      <div id="validationRequiredPasswordFeedback" class="invalid-feedback" role="alert">
        Password is required.
      </div>
      }@else if(password?.errors?.['minlength'] && password?.touched){
      <div id="validationMinPasswordFeedback" class="invalid-feedback" role="alert">
        Password must be at least 6 characters long.
      </div>
      }@else if(password?.errors?.['maxlength'] && password?.touched){
      <div id="validationMaxPasswordFeedback" class="invalid-feedback" role="alert">
        Password must have less than 20 characters long.
      </div>
      }
    </div>

    <!-- {{password?.errors | json}} -->
    @if (disabledLogin) {
    <app-login-timeout [timeoutMinutes]="1"></app-login-timeout>
    }

    @if(!loading){
    <button type="submit" class="btn btn-primary btn-lg w-100 btn-block mt-3 mb-3"
      [disabled]="loginForm.invalid || disabledLogin">
      <span>LOGIN</span>
    </button>
    }@else{
    <app-loading [message]="'Loading'"></app-loading>
    }

    <button routerLink="/register" class="btn btn-outline-primary btn-lg w-100 btn-block mt-3 mb-3">
      REGISTER
    </button>


  </form>

</div>